<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% todos.map((e)=>{ %>
             <h1> <%= e.id  %></h1>
             <h1> <%= e.completed  %></h1>
             <h1> <%= e.todo %></h1>
       <% }) %>
    </div>
</body>
</html>