<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hii Good Evening</h1>
    <% let a=77 %>
    <% let b=77 %>
    <% let c=77 %>
    <% let d=77 %>
    <% let e=a*b %>
        <h1>
            <%= e %>
        </h1>
</body>

</html>